header {
  width: 1070px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 71px;
  left: 93px;
  right: 117px;
  bottom: 619px;
  margin-bottom: 109px;

}

.logo {

}

nav ul li {
  display: inline-block;
  margin-left: 64px;   
}

nav ul li {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  
}

 ul a {
  text-decoration: none;
}