.app-container {
  width: 1280px;
  height: 720px;
  position: relative;
  background-color:#2C2B3D;
  margin: auto;
}

hr {
  width: 568px;
  position: absolute;
  top: 642px;
  margin: auto;
  left: 356px;
  right: 356px;
  bottom: 78px;
  border: 1px solid #00BFA6;
}

.padlocker {
  position: absolute;
  top: 638px;
  left: 20px;
  bottom: 20px;
  right: 1209px;
}